*{
    margin:0%;
    padding:0%;
    box-sizing:border-box;
}


header{
    padding:15px;
    display:flex;
    justify-content:space-evenly;
    background-color:rgba(173, 172, 169, 0.868);
    position:fixed;
    width:100vw;
    height:7vh;
}

.logo img{
    width:170px;
}
.navbar ul{
    display:flex;
    justify-content:space-around;
    width:350px;
    list-style:none;
}

.navbar a{
    text-decoration:none;
    color:rgb(109, 108, 108);
    font-size:18px;
}

.icons img{
    width:20px;
    margin:0px 5px;
}

.icons img:hover{
    transform:scale(1.4);
    transition:transform 0.3s ease-in-out;
    cursor:pointer;
}

.display{
    display:flex;
    justify-content:start;
    align-items:center;
    background-image:url('slide-03.jpg');
    background-repeat:no-repeat;
    width:100%;
    height:130vh;
    background-position:55%;
}

.text{
    padding-left:50px;
}

.text h1{
    font-size:35px;
    font-weight: lighter;
}

.text p{
    font-size:80px;
    font-family:cursive;
}

.text button{
    background-color:lightskyblue;
    width:180px;
    color:rgb(0, 0, 0);
    padding:10px 20px;
    border:none;
    border-radius:50px;
    cursor:pointer;
}

section{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

section .card{
    width:450px;
    height:305px;
    border:2px solid #ccc;
    margin:20px;
    box-shadow:0px 0px 6px rgba(0, 0, 0, 0.5);
}

.card img{
    width:100%;
    height:auto;
}

section .card:hover{
    transform:scale(1.05);
    transition:transform 0.3s ease-in-out;
    cursor:pointer;
}

section .card:nth-child(1){
    padding:50px;
    background-image:url('banner-01.jpg.webp');
    background-size: cover;
    background-position-x:60%;
}

section .card:nth-child(2){
    padding:50px;
    background-image:url('banner-02 (1).jpg');
    background-size: cover;
    background-position-x:60%;
}

section .card:nth-child(3){
    background-position-x:60%;
    padding:50px;
    background-image:url('banner-03.jpg.webp');
    background-size: cover;
}

section .card:nth-child(1):hover{
    background-image:linear-gradient(rgba(8, 181, 250, 0.466),rgba(8, 181, 250, 0.466)),url('banner-01.jpg.webp');
}

section .card:nth-child(2):hover{
    background-image:linear-gradient(rgba(8, 181, 250, 0.466),rgba(8, 181, 250, 0.466)),url('banner-02\ \(1\).jpg');
}

section .card:nth-child(3):hover{
    background-image:linear-gradient(rgba(8, 181, 250, 0.466),rgba(8, 181, 250, 0.466)),url('banner-03.jpg.webp');
}

.text2 ul{
    display:flex;
    width:700px;
    justify-content:space-around;
    list-style:none;
}

.text2 ul li{
    font-size:22px;
    color:rgb(97, 97, 97);
    padding:10px;
}

.text2 a{
    text-decoration: none;
}

.text2 ul li:hover{
    color:black;
    transition:color 0.3s ease-in-out;
    cursor:pointer;
}

.container{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

.container .product-card{
    width:20%;
    border:2px solid #ccc;
    margin:20px;
    box-shadow:0px 0px 6px rgba(0, 0, 0, 0.5);
}

.product-card img{
    width:100%;
    height:auto;
}

.container .product-card:hover{
    transform:scale(1.05);
    transition:transform 0.3s ease-in-out;
    cursor:pointer;
}

.button{
    display:flex;
    justify-content: center;
    margin:50px 0px;
}
.button button{
    background-color:lightgrey;
    border:2px solid transparent;
    border-radius:50px;
    width:170px;
    height:40px;
    text-align:center;
    font-family:sans-serif;
    color:rgb(0, 0, 0);
    cursor: pointer;
}

.button button:hover{
    background-color:black;
    border:2px solid black;
    color:white;
}


footer{
    background-color:black;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    color:grey;
    font-family: sans-serif;
}

footer h1{
    font-size:2vmax;
    font-weight:bold;
    color:white;
    padding-bottom:30px;
}

footer ul{
    list-style: none;
}

footer li a{
    color:grey;
    line-height:40px;
    font-size:18px;
    text-decoration:none;
}

.footer-child:nth-child(1){
    width:22.5%;
    padding:50px;
}


.footer-child:nth-child(2){
    width:22.5%;
    padding:50px;
}

.footer-child:nth-child(3){
    width:30%;
    padding:50px;
}

.footer-child:nth-child(3) img{
    margin:20px 5px; 
    width:40px;
    height:auto;
}

.footer-child:nth-child(4){
    width:25%;
    padding:50px;
}


.footer-child:nth-child(4) input{
    width:100%;
    padding:5px;
    text-align:center;
    border:2px solid black;
    border-radius:5px;
    margin-bottom:20px;
}

.footer-child:nth-child(4) button{
    background-color:darkgrey;
    border:2px solid transparent;
    border-radius:50px;
    width:140px;
    height:32px;
    text-align:center;
    color:whitesmoke;
    cursor: pointer;
}


.last{
    padding:5px;
    text-align:center;
    color:black;
    background-color:darkgrey;
}

/* MediaQueries of 1120px */
@media(max-width:1120px){
.display{
    height:120vh;
}

.text{
    padding-left:30px;
}

.text h1{
    font-size:30px;
}

.text p{
    font-size:60px;
}
}

/* MediaQueries of 870px */
@media(max-width:870px){
footer li a{
    line-height:30px;
    font-size:18px;
    text-decoration:none;
}

.footer-child:nth-child(1){
    padding:50px 0px 50px 20px;
}


.footer-child:nth-child(2){
    padding:50px 0px;
}

.footer-child:nth-child(3){
    width:40%;
    padding:50px 0px;
}


.footer-child:nth-child(4){
    width:25%;
    padding:0px 0px 50px 0px;
}
}

/* MediaQueries Of 767px */
@media(max-width:767px){
.display{
    justify-content:center;
    background-image:url('banner-02\ \(1\).jpg');
    height:110vh;
    background-position-x:75%;
    background-position-y:20%;
    text-align:center;
    color:darkred;
}

.text{
    padding-left:0px;
}

.text h1{
    font-size:40px;
    font-weight:bold;
}

.text p{
    font-size:80px;
}


.text2 ul{
    width:600px;
}


footer li a{
    line-height:30px;
}

.footer-child:nth-child(1){
    width:50%;
    padding:30px 0px 0px 20px;
}


.footer-child:nth-child(2){
    width:50%;
    padding:30px 0px 0px 20px;
}

.footer-child:nth-child(3){
    width:50%;
    padding:30px 0px 0px 20px;
}

.footer-child:nth-child(3) img{ 
    width:30px;
}

.footer-child:nth-child(4){
    width:50%;
    padding:30px 0px 0px 20px;
}


.footer-child:nth-child(4) input{
    width:70%;
}
}

/* MediaQueries Of 650px */
@media(max-width:650px){
    
header{
    justify-content:space-between;
}

.navbar {
    display:none;
}

.display{
    justify-content:center;
    background-image:url('banner-02\ \(1\).jpg');
    height:90vh;
    background-position-x:65%;
    background-position-y:10%;
    text-align:center;
    color:darkred;
}

.text{
    background-color:rgba(255, 255, 255, 0.532);
    padding-left:0px;
}

.text h1{
    font-size:30px;
    font-weight:bold;
    font-family: sans-serif;
}

.text p{
    font-size:60px;
}

section .card{
    height:280px;
}

.text2 ul{
    margin-left:20px;
    width:380px;
}

.text2 ul li{
    font-size:18px;
}

footer li a{
    line-height:30px;
}

.footer-child:nth-child(1){
    width:100%;
    padding:30px 0px 0px 20px;
}


.footer-child:nth-child(2){
    width:100%;
    padding:30px 0px 0px 20px;
}

.footer-child:nth-child(3){
    width:100%;
    padding:30px 20px 0px 20px;
}

.footer-child:nth-child(3) img{ 
    width:30px;
}

.footer-child:nth-child(4){
    width:100%;
    padding:30px 0px 30px 20px;
}


.footer-child:nth-child(4) input{
    width:50%;
}
}